<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Twittery" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container">
    <div class="container mt-4">
        <%= yield %>
      </div>
    </div>

    <!-- Bootstrap JavaScript -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
